body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
}

.clock-container {
    font-size: 2em;
}

.todo-container {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

input {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.weather-container {
    margin-top: 20px;
}

