@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "cocoatalk/screens/reset.css";
@import "cocoatalk/screens/variables.css";

/* Components */
@import "cocoatalk/css/components/status-bar.css";
@import "cocoatalk/css/components/nav-bar.css";
@import "cocoatalk/css/components/screen-header.css";
@import "cocoatalk/css/components/alt-screen-header.css";
@import "cocoatalk/css/components/user-component.css";
@import "cocoatalk/css/components/badge.css";
@import "cocoatalk/css/components/icon-row.css";
@import "cocoatalk/css/components/no-mobile.css";

/* Screens */
@import "cocoatalk/css/screens/login.css";
@import "cocoatalk/css/screens/friends.css";
@import "cocoatalk/css/screens/find.css";
@import "cocoatalk/css/screens/more.css";
@import "cocoatalk/css/screens/settings.css";
@import "cocoatalk/css/screens/chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
