.u-section-1 .u-sheet-1 {
  min-height: 384px;
}

.u-section-1 .u-image-1 {
  width: 1105px;
  height: 369px;
  margin: 8px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    margin-top: 14px;
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-1 .u-image-1 {
    height: 177px;
    margin-bottom: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-image-1 {
    height: 115px;
    margin-top: 5px;
    margin-bottom: 5px;
    object-position: 17.25% 44.33%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 468px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1088px;
  margin: 45px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 352px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 0 0 18px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 48px 56px 0 26px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 48px 50px 0 21px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 330px;
  height: 330px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 27px;
    margin-right: 63px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 63px;
    margin-left: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-image-1 {
    margin-right: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
    margin: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1088px;
  margin: 63px auto 21px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 205px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 200px;
  left: auto;
  right: 223px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  left: 0;
  right: auto;
}

.u-section-3 .u-image-3 {
  width: 200px;
}

.u-section-3 .u-image-4 {
  width: 200px;
  left: auto;
  right: 0;
}

.u-section-3 .u-image-5 {
  width: 200px;
  left: 223px;
  right: auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 137px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 26px 19px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 35px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 183px;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 170px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 191px 0 auto;
  }

  .u-section-3 .u-image-2 {
    width: 170px;
    height: 170px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -170px auto 0 0;
  }

  .u-section-3 .u-image-3 {
    width: 170px;
    height: 170px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -170px auto 0;
  }

  .u-section-3 .u-image-4 {
    width: 170px;
    height: 170px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -170px 0 0 auto;
  }

  .u-section-3 .u-image-5 {
    width: 170px;
    height: 170px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -170px auto 0 191px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 170px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 170px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-group-1 {
  width: 1086px;
  min-height: 432px;
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 15px;
}

.u-section-4 .u-text-1 {
  text-align: start;
  margin: 0 444px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 44px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 44px auto 0 0;
}

.u-section-4 .u-text-4 {
  text-align: left;
  font-size: 1.25rem;
  margin: 44px auto 0 0;
}

.u-section-4 .u-text-5 {
  text-align: left;
  font-size: 1.25rem;
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-group-1 {
    min-height: 491px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-5 .u-text-1 {
  width: 626px;
  font-weight: 700;
  text-transform: none;
  margin: 31px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 992px;
  margin: 30px auto 31px;
}

.u-section-5 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-5 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-6 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-6 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-7 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-7 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-8 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-8 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-8 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-9 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-9 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-9 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-10 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-10 {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 25px 20px;
}

.u-section-5 .u-icon-10 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-accordion-pane-10 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    width: 340px;
  }
}